<head>
  <title>BTC Run</title>
  <link rel='stylesheet' href='/stylesheets/style.css'/>
  <script type='text/javascript' src="javascripts/vendor/angular.js"></script>
  <script type='text/javascript' src="javascripts/vendor/angular-ui-router.js"></script>
  <script type='text/javascript' src="javascripts/vendor/bitcore.js"></script>
  <script type='text/javascript' src="javascripts/btc-run.js"></script>

  <script type="text/ng-template" id="home.html">
    <% include ../pages/home.html %>
  </script>
</head>
