<head>
  <title>BTC Run</title>
  <link rel='stylesheet' href='/stylesheets/style.css'/>

  <link rel="import" href="bower/polymer/polymer-micro.html">
  <link rel="import" href="bower/paper-input/paper-textarea.html">
  
  <script type='text/javascript' src="javascripts/vendor/angular.js"></script>
  <script type='text/javascript' src="javascripts/vendor/angular-ui-router.js"></script>
  <script type='text/javascript' src="javascripts/vendor/bitcore.js"></script>
  <script type='text/javascript' src="bower/webcomponentsjs/webcomponents.min.js"></script>
  <script type='text/javascript' src="javascripts/btc-run.js"></script>
  

  <script type="text/ng-template" id="home.html">
    <% include ../pages/home.html %>
  </script>
</head>
